body{
    background-image: url(media/helliti-drawing.png);
}
.middle-text{
    text-align: center;
}
.middle-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#space-helliti{
    height: auto;
    width: 350px;
    
}
#colouring-text{
    color: red;
}
#middle-finger{
    left: 80px;
}
#colouring-contest-button{
    bottom: 160px;
}
#store-button{
    height: auto;
    width: 200px;
    left: 90px;
    bottom:50px;
}
#logo{
    height:auto;
    width: 400px;
}
#none-lmao{
    width: 1000px;
    height: 600px;
}
#info-button{
    height:auto;
    width: 200px;
    bottom:350px;
}
#info{
    height: auto;
    width: 500px;
}
.relative{
    position: relative;
}