body{
    background-image: url(media/helliti-drawing.png);
}
.middle-text{
    text-align: center;
}
#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width: 400px;
}
#space-helliti{
    height: auto;
    width: 350px;
}
#colouring-text{
    color: red;
}